/* Main CSS code */


/* Text effects */

body{
    background-color: #ff00cc;
    font-family: 'Josefin Sans';
}
.title-text{
    font-size: 48px;
    color: #1bce54;
    text-align: center;
    font-family: 'Oswald';
}
.center-underline-title{
    text-align: center;
    text-decoration: underline;
    color: #1bce54;
    font-family: Oswald;
}
.maroon{
    color: #1bce54;
}
.center-link{
    text-align: center;
}
a{
  color: #89ffaf;
  font-family: 'Josefin Sans';
}

/* Boxes, Borders, and Tables */

.dirrow{
    padding: 2%;  
}
.iframe{
    border-style: solid;
    border-width: 2px;
    padding: 5px;
}
.title{
    margin: 10px;
    padding: 2%;
    border-style: dashed;
    border-width: 15px;
    border-radius: 15px;
    background-color: antiquewhite;
}
.quick-links{
    margin: 10px;
    padding: 2%;
    border-style: solid;
    border-color: black;
    border-width: 15px;
    border-radius: 15px;
    background-color: antiquewhite;
}
.quick-links-noback{
    margin: 5%;
    padding: 2%;
    border-style: solid;
    border-color: black;
    border-width: 15px;
    border-radius: 15px;
    background-color: white;
    
}
.table{
    margin: 5%;
    padding: 2%;
    border-style: solid;
    border-color: black;
    border-width: 15px;
    border-radius: 15px;
    background-color: antiquewhite;
    text-align: center;
}
table.center{
    margin-left: auto;
    margin-right: auto
}
table, th, td{
    border-width: 1px;
    border-style: solid;
    border-color: maroon;
}
table{
    background-color: maroon;
}
th, td{
    background-color: antiquewhite;
}

/* Image effects */

.gitlogo{
    width: 20px;
    height: 15px;
}
.tetris-gp{
    width: 100px;
    height: 100px;
}


/* CSS gained from w3schools. DO NOT ADD CODE PAST THIS POINT! */


/* Homepage Columns */

* {
    box-sizing: border-box;
}
.column1 {
    float: left;
    width: 25%;
    padding: 10px;
    height: auto; 
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: #89ffaf;
}
.column2 {
    float: left;
    width: 25%;
    padding: 10px;
    height: auto;
    border-style: solid;
    border-color: black;
    border-width: 2px; 
    background-color: #89ffaf;
}
.column3 {
    float: left;
    width: 25%;
    padding: 10px;
    height: auto;
    border-style: solid;
    border-color: black;
    border-width: 2px; 
    background-color: #89ffaf;
}
.column4 {
    float: left;
    width: 25%;
    padding: 10px;
    height: auto;
    border-style: solid;
    border-color: black;
    border-width: 2px; 
    background-color: #89ffaf;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Navigation bar */

.topnav {
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    margin-bottom: 10px;
    margin: 0 auto;
    background-color: #333;
    margin: 0px;
}
.topnav a {
    float: left;
    text-align: center;
    margin: 0 auto;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    background-color: gray;
}
.topnav a:hover {
    background-color: antiquewhite;
    color: black;
    height: 0 auto;
}
.topnav a.active {
    background-color: #ff00cc;
    color: white;
    margin: 0 auto
}
